@import "variable";
@import "bubble";
@import "themes/light"; 


.timeline {
	position: relative;
	width: 100%;
	height: 100vh; 
	overflow: hidden;
	font-weight: 100; 
	font-family: sans-serif; 
	background-image: linear-gradient(-25deg, #a4d8ff, #4c289d); 
	background-size: 130%;
	background-position: 0% 0;
	transition: .5s;

	//LAYOUT
	&__layout {
		position: absolute;
		top: 0; left: 0;
		transition: .3s;
	}
	&--vertical &__layout  {
		height: 100%;
	}
	&--horizontal &__layout  {
		width: 100%;
	}


	//ITEM
	&__item {
		position: absolute;
		width: $item-width;
		height: $item-height;
		border: 1px solid white;
		border-radius: 100%;
		transform: translateX(-50%) translateY(-50%) scale(1);
		transition: $duration_long; 
		&:hover {
			transition: $duration_small $timing-function; 
			transform: translateX(-50%) translateY(-50%) scale(1);
		}
		&--active {
			transform: translateX(-50%) translateY(-50%) scale(1);
			width: $item-width*1.2; 
			height: $item-width*1.2; 
		}
	}

	&__strokes {

		&--vertical::before, &--vertical::after, &--horizontal::before, &--horizontal::after {
			content: "";
			display: block;
			position: absolute;
			border: $stroke-texture;
		}

		&--vertical {
			&::before, &::after {
				left: 50%; 
				width: 0px;
				bottom: calc(50% + #{$item-width/2});
				background-color: transparent;
			}
			&::after { 
				bottom: auto; 
				top: calc(50% + #{$item-width/2});
				height: $space-between - $item-width; 
			}
			&:first-child::before {
				height: 100vh;
			}
			&:last-child::after { 
				height: 100vh; 
			}
		}

		&--horizontal {
			&::before, &::after {
				top: 50%; 
				left: calc(50% + #{$item-width/2});
				height: 0px; 
			}
			&::after { width: $space-between - $item-width; }
			&:first-child::before {
				left: auto; 
				right: calc(50% + #{$item-width/2}); 
				width: 100vw;
			}
			&:last-child::after { width: 100vw; }
		}

	}

	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		transition: .5s;
	}
}


